.selectClassNyss {
    width: 300px;
    text-align: center;
}

.wrapperInputs {
    display: flex;
    align-items:  center;
}

.nonCountryWrapper {
    pointer-events: none;
    background: grey;
    opacity: 0.5;
    width: 500px;
}

.wrapperBottom {
    display: flex;
    align-items:  flex-start;
    justify-content: flex-start;
    flex-direction: column;
}